Thumbs.db
ehthumbs.db
Desktop.ini
.project
.settings/*
.settings
target
.classpath
.idea
classes
*.iml
.idea/
ExamStack.iml
classes/
common/Common.iml
logs/
management/Management.iml
portal/Portal.iml
scoreMarker/ScoreMarker.iml
scoreMarker/src/main/java/META-INF/
